# Karl pearson(r) and Spearman Rank(R)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data={
    "height":[150,160,165,170,175,180,185,190],
    "weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [ ]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [ ]:
correlation=df['height'].corr(df['weight'])
print(correlation)

0.9941348467724345

In [ ]:
correlation2=df['height'].corr(df['weight'], method= 'spearman')
print(correlation2)

1.0

# Karl Pearson (Manually)

In [ ]:
mean1=df['height'].mean()
mean1

171.875

In [ ]:
mean2=df['weight'].mean()
mean2

67.5

In [ ]:
df['x']=df['height']-mean1
df['x']

0   -21.875
1   -11.875
2    -6.875
3    -1.875
4     3.125
5     8.125
6    13.125
7    18.125
Name: x, dtype: float64

In [ ]:
df['y']=df['weight']-mean2
df['y']

0   -17.5
1   -12.5
2    -7.5
3    -2.5
4     2.5
5     7.5
6    12.5
7    17.5
Name: y, dtype: float64

In [ ]:
df['xy']=df['x']*df['y']
df['xy']

0    382.8125
1    148.4375
2     51.5625
3      4.6875
4      7.8125
5     60.9375
6    164.0625
7    317.1875
Name: xy, dtype: float64

In [ ]:
sum_xy=df['xy'].sum()
sum_xy

1137.5

In [ ]:
sum_a=a.sum()
sum_a

1246.875

In [ ]:
a=df['x']**2
a

0    478.515625
1    141.015625
2     47.265625
3      3.515625
4      9.765625
5     66.015625
6    172.265625
7    328.515625
Name: x, dtype: float64

In [ ]:
sum_b=b.sum()
sum_b

1050.0

In [ ]:
b=df['y']**2
b

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: y, dtype: float64

In [ ]:
karl_marx=sum_xy/(sum_a*sum_b)**1/2
karl_marx

0.00043441938178780283

# Spearman's Rank (Manually)

In [ ]:
df["rank1"]=df["height"].rank()
df["rank2"]=df["weight"].rank()
df.head()

   height  weight       x     y        xy  rank1  rank2
0     150      50 -21.875 -17.5  382.8125    1.0    1.0
1     160      55 -11.875 -12.5  148.4375    2.0    2.0
2     165      60  -6.875  -7.5   51.5625    3.0    3.0
3     170      65  -1.875  -2.5    4.6875    4.0    4.0
4     175      70   3.125   2.5    7.8125    5.0    5.0

In [ ]:
df["d2"]=df["rank1"]-df["rank2"]
df["d2"]

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: d2, dtype: float64

In [ ]:
df["d"]=df["d2"]**2
df["d"]

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: d, dtype: float64

In [ ]:
n=len(df)
n

8

In [ ]:
z=1-(6*df["d"].sum())/n**3-n
z

-7.0