In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data={"Age":[25,30,35,40,45,50],
      "Work Exp":[2,5,8,12,16,20]}
print(data)

{'Age': [25, 30, 35, 40, 45, 50], 'Work Exp': [2, 5, 8, 12, 16, 20]}

In [ ]:
df=pd.DataFrame(data)
df.head()

   Age  Work Exp
0   25         2
1   30         5
2   35         8
3   40        12
4   45        16

# Slope

In [ ]:
xy=(df["Age"]*df["Work Exp"]).sum()
print(xy)

2680

In [ ]:
x=df["Age"].sum()
print(x)

225

In [ ]:
y=df["Work Exp"].sum()
print(y)

63

In [ ]:
x_y=x*y
print(x_y)

14175

In [ ]:
x2=(df["Age"]**2).sum()
print(x2)

8875

In [ ]:
x_2=(df["Age"].sum())**2
print(x_2)

50625

In [ ]:
n=len(df)
n

6

In [ ]:
slope=(n*xy - x_y)/(n*x2 - x_2)
print(slope)

0.7257142857142858

In [ ]:
intercept=(y-slope*x)/n
intercept

-16.71428571428572

In [ ]:
LR=(slope*38)+intercept
print(LR)

10.862857142857141

In [ ]:
# what is the salary of an individual having 5 years of exprience

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("salary.csv")
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [ ]:
xy=(df["YearsExperience"]*df["Salary"]).sum()
print(xy)

14321961.0

In [ ]:
x=df["YearsExperience"].sum()
x

159.4

In [ ]:
y=df["Salary"].sum()
y

2280090

In [ ]:
x_y=x*y
x_y

363446346.0

In [ ]:
x2=(df["YearsExperience"]**2).sum()
x2

1080.5

In [ ]:
x_2=(df["YearsExperience"].sum())**2
x_2

25408.36

In [ ]:
n=len(df)
n

30

In [ ]:
slope=(n*xy - x_y)/(n*x2 - x_2)
slope

9449.962321455077

In [ ]:
intercept=(y-slope*x)/n
intercept

25792.200198668685

In [ ]:
Y=(slope*5)+intercept
Y

73042.01180594407

In [ ]:
# Find the work experience of individual having 50000 salary
X=(50000 - intercept)/slope
X

2.561682150453682