In [ ]:
#Libraries to work with
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('Fortune500.csv')

In [ ]:
#First 5 rows
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [ ]:
# Last 5 rows
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [ ]:
# Shape Rows and columns
df.shape

(500, 13)

In [ ]:
# Information About the column
# Very important before working on dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

# *** **CREATING a SUB DATASET**

In [ ]:
sub_df=df[['Rank','Title','Employees','Sector','Revenues','Profits']]
sub_df.head()
sub_df.head(10)

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,184840,7017.0
6,7,CVS Health,204000,Health Care,177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,151800,4596.0

In [ ]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [ ]:
mean_rev=sub_df['Revenues'].mean()
print(mean_rev)

24111.748

In [ ]:
median_rev=sub_df['Revenues'].median()
print(median_rev)

11384.0

In [ ]:
mode_rev=sub_df['Revenues'].mode()
print(mode_rev)

0    9061
Name: Revenues, dtype: int64

In [ ]:
s1=sub_df['Revenues'].min()
print(s1)

5145

In [ ]:
s2=sub_df['Revenues'].max()
print(s2)

485873

In [ ]:
Range= s2-s1
print(Range)

480728

In [ ]:
Range2=sub_df['Revenues'].max()-sub_df['Revenues'].min()
Range2

480728

In [ ]:
sd= sub_df['Revenues'].std()
sd

38337.35333653324

In [ ]:
var=sub_df['Revenues'].var()
var

1469752660.8501961

## **IQR**

In [ ]:
#Quantile
# P75=Q3 and P25= Q1

In [ ]:
q3=sub_df['Revenues'].quantile(0.75)
q3

22605.25

In [ ]:
q1=sub_df['Revenues'].quantile(0.25)
q1

7245.0

In [ ]:
IQR= q3-q1
IQR

15360.25

In [ ]:
# IQR= q3 - q1
IQR= sub_df['Revenues'].quantile(0.75)-sub_df['Revenues'].quantile(0.25)
IQR

15360.25

In [ ]:
skew=sub_df["Revenues"].skew()
skew

5.480066970305041

In [ ]:
import seaborn as sns
skew=sub_df["Revenues"].skew()
skew

5.480066970305041

Calculate CV for the revenues column
# cv=(sd/mean)*100

In [ ]:
CV= sub_df['Revenues'].std()/sub_df['Revenues'].mean()*100
CV

158.99864803055027

Which amoungst the revenues or profits display more stability

Ans- Revenue column has more stability

In [ ]:
CV2= sub_df['Profits'].std()/sub_df['Profits'].mean()*100
CV2

221.2758313353473

In [ ]:
print("CV of revenues Column is,",CV,'%')

CV of revenues Column is, 158.99864803055027 %

In [ ]:
print("CV of profits Column is,",CV2,'%')

CV of profits Column is, 221.2758313353473 %

In [ ]:
sub_df.sample(frac=0.01)

,Rank,Title,Employees,Sector,Revenues,Profits
300,301,Fidelity National Information Services,55000,Business Services,9241,568.0
312,313,Frontier Communications,28332,Telecommunications,8896,-373.0
411,412,Discovery Communications,7000,Media,6497,1194.0
113,114,Northrop Grumman,67000,Aerospace & Defense,24508,2200.0
125,126,Aflac,10212,Financials,22559,2659.0

In [ ]:
df_sample= sub_df.sample(frac=0.70)
#df_sample.head()
mean2=df_sample['Revenues'].mean()
print(mean2)

24223.37714285714

In [ ]:
df_sample= sub_df.sample(frac=0.70, random_state=0)
#df_sample.head()
mean2=df_sample['Revenues'].mean()
print(mean2)

24044.977142857144

In [ ]:
df_sample= sub_df.sample(frac=0.70, random_state=1)
#df_sample.head()
mean3=df_sample['Revenues'].mean()
print(mean3)

23581.79142857143

In [ ]:
df_sample= sub_df.sample(frac=0.70, random_state=1)
#df_sample.head()
m=df_sample['Revenues'].mean()
print(m)

23581.79142857143

In [ ]:
# select 70% random row from data set and consider this as a sample .Calculate mean of this sample with respect to profict column  repeat the process five times
#compute the diff btw actual mean and each of the sample mean seprately . tablulate yourobservation

In [ ]:
df_sample1=sub_df.sample(frac=0.70,random_state=0)
mean4=df_sample1['Profits'].mean()
print(mean4)

1855.4874285714288

In [ ]:
df_sample2=sub_df.sample(frac=0.70,random_state=1)
mean5=df_sample2['Profits'].mean()
print(mean5)

1634.9054285714287

In [ ]:
df_sample3=sub_df.sample(frac=0.70,random_state=2)
mean5=df_sample3['Profits'].mean()
print(mean5)

1683.4168571428572

In [ ]:
df_sample4=sub_df.sample(frac=0.70,random_state=3)
mean6=df_sample4['Profits'].mean()
print(mean6)

1573.515142857143

In [ ]:
df_sample5=sub_df.sample(frac=0.70,random_state=4)
mean7=df_sample5['Profits'].mean()
print(mean7)

1876.998857142857

In [ ]:
mean_df=df_sample['Profits'].mean()
mean_df

1634.9054285714287

In [ ]:
# Computing the means

In [ ]:
mean_dff1= mean_df-mean4
print(mean_dff1)

-220.5820000000001

In [ ]:
mean_diff2=mean_df-mean5
print(mean_diff2)

-48.511428571428496

In [ ]:
mean_diff3=mean_df - mean6
print(mean_diff3)

61.39028571428571

In [ ]:
mean_diff4=mean_df - mean7
print(mean_diff4)

-242.09342857142838

In [ ]:
q_3=sub_df['Revenues'].quantile(0.75)
q_3

22605.25

In [ ]:
q_1=sub_df['Revenues'].quantile(0.25)
q_1

7245.0

In [ ]:
#IQR
IQR_1=q_3 - q_1
IQR_1

15360.25

In [ ]:
# Lower Limit
Lower_limit=q_1 - 1.5*IQR_1
Lower_limit

-15795.375

In [ ]:
# Upper Limit
Upper_limit=q_3 + 1.5*IQR_1
Upper_limit

45645.625

In [ ]:
 # Outliers (Rvenues)
 Outliers=sub_df[(sub_df["Revenues"]<Lower_limit)|(sub_df["Revenues"]> Upper_limit)]
 print("Outlier Rows:")
 print(Outliers)

Outlier Rows:
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [ ]:
q3=sub_df['Profits'].quantile(0.75)
q3

1770.775

In [ ]:
q1=sub_df['Profits'].quantile(0.25)
q1

235.725

In [ ]:
#Iqr
Iqr=q3-q1
Iqr

1535.0500000000002

In [ ]:
#Lower Limit
Lower=q1 - 1.5*Iqr
Lower

-2066.8500000000004

In [ ]:
# Upper Limit
Upper=q3+ 1.5*Iqr
Upper

4073.3500000000004

In [ ]:
 # Outliers(Profits)
 Outlier=sub_df[(sub_df["Profits"]<Lower)|(sub_df["Profits"]> Upper)]
 print("Outlier Rows:")
 print(Outlier)

Outlier Rows:
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]